@{
     
    var categoryTitle = UrlData[0]; 
     
    if (categoryTitle.IsEmpty()) 
    { 
        Response.Redirect("/Default"); 
    } 
     
    Page.Title = categoryTitle; 
  
    var db = Database.Open("ProductDataBase");    
    var sqlSelect = "SELECT productID, title, price,description,picPath,FilePath FROM Products " + 
                "LEFT OUTER JOIN Categories ON Products.category = Categories.categoryID " + 
                "WHERE Categories.categoryTitle = @0"; 
     
    var products = db.Query(sqlSelect, categoryTitle);
  
    
  
}

<div id="contentTitle"> 
    <h1>@categoryTitle</h1> 
</div>
@if (products.Count() == 0) 
{ 
    <p> 
        No items found in this category.  
        Try browsing one of the categories listed to the left. 
    </p> 
} 
else 
{ 
   
            <ul id="productsList"> 
                  @foreach (var item in products) { 
                 
            <li> 
                <div class="prod_box">
        	    <div class="top_prod_box"></div>
              <div class="center_prod_box">            
                 
<div class="product_title"><a href="/details/@item.productID">@item.title</a></div>
                   
 
                  

                
<div class="product_img">@Products.ShowProductImage(item.productID.ToString())</div>
               
  <div class="prod_price"><span class="reduce">@item.price </span> <span class="price">@item.price</span></div>                        
            
 </div>
        <div class="bottom_prod_box"></div>             
            <div class="prod_details_tab">
         <a href="~/details/@item.productID" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="/Shared/Images/cart.gif" alt="NO" title=""  class="left_bt" /></a>
           @*    <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]"><img src="/Shared/Images/favs.gif" alt="NO" title=""  class="left_bt" /></a>
            <a href="#" title="header=[Gifts] body=[&nbsp;] fade=[on]"><img src="/Shared/Images/favorites.gif" alt="NO" title=""  class="left_bt" /></a>  *@         
            <a href="~/details/@item.productID" class="prod_details">details</a>            
            </div>                     
        

                    </div>
                
            </li> 
        } 
    </ul> 
}